:root {
  --fluid-min-width: 480;
  --fluid-max-width: 1200;

  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );
}

@media screen and (min-width: 1200px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
  --f--2-min: 10.24;
  --f--2-max: 14.08;
  --step--2: calc(
    ((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) *
      var(--fluid-bp)
  );

  --f--1-min: 12.8;
  --f--1-max: 17.6;
  --step--1: calc(
    ((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) *
      var(--fluid-bp)
  );

  --f-0-min: 16;
  --f-0-max: 22;
  --step-0: calc(
    ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
      var(--fluid-bp)
  );

  --f-1-min: 20;
  --f-1-max: 27.5;
  --step-1: calc(
    ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
      var(--fluid-bp)
  );

  --f-2-min: 25;
  --f-2-max: 34.38;
  --step-2: calc(
    ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
      var(--fluid-bp)
  );

  --f-3-min: 31.25;
  --f-3-max: 42.97;
  --step-3: calc(
    ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
      var(--fluid-bp)
  );

  --f-4-min: 39.06;
  --f-4-max: 53.71;
  --step-4: calc(
    ((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
      var(--fluid-bp)
  );

  --f-5-min: 48.83;
  --f-5-max: 67.14;
  --step-5: calc(
    ((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) *
      var(--fluid-bp)
  );
}

:root {
  --fluid-min-width: 480;
  --fluid-max-width: 1200;

  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );
}

@media screen and (min-width: 1200px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
  --fc-3xs-min: (var(--fc-s-min) * 0.25);
  --fc-3xs-max: (var(--fc-s-max) * 0.25);

  --fc-2xs-min: (var(--fc-s-min) * 0.5);
  --fc-2xs-max: (var(--fc-s-max) * 0.5);

  --fc-xs-min: (var(--fc-s-min) * 0.75);
  --fc-xs-max: (var(--fc-s-max) * 0.75);

  --fc-s-min: (var(--f-0-min, 16) * 1.25);
  --fc-s-max: (var(--f-0-max, 22) * 1.25);

  --fc-m-min: (var(--fc-s-min) * 1.5);
  --fc-m-max: (var(--fc-s-max) * 1.5);

  --fc-l-min: (var(--fc-s-min) * 2);
  --fc-l-max: (var(--fc-s-max) * 2);

  --fc-xl-min: (var(--fc-s-min) * 3);
  --fc-xl-max: (var(--fc-s-max) * 3);

  --fc-2xl-min: (var(--fc-s-min) * 4);
  --fc-2xl-max: (var(--fc-s-max) * 4);

  --fc-3xl-min: (var(--fc-s-min) * 6);
  --fc-3xl-max: (var(--fc-s-max) * 6);

  /* T-shirt sizes */
  --space-3xs: calc(
    ((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-3xs-max) - var(--fc-3xs-min)) *
      var(--fluid-bp)
  );
  --space-2xs: calc(
    ((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-2xs-min)) *
      var(--fluid-bp)
  );
  --space-xs: calc(
    ((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-xs-min)) *
      var(--fluid-bp)
  );
  --space-s: calc(
    ((var(--fc-s-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-s-min)) *
      var(--fluid-bp)
  );
  --space-m: calc(
    ((var(--fc-m-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-m-min)) *
      var(--fluid-bp)
  );
  --space-l: calc(
    ((var(--fc-l-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-l-min)) *
      var(--fluid-bp)
  );
  --space-xl: calc(
    ((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-xl-min)) *
      var(--fluid-bp)
  );
  --space-2xl: calc(
    ((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-2xl-min)) *
      var(--fluid-bp)
  );
  --space-3xl: calc(
    ((var(--fc-3xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-3xl-min)) *
      var(--fluid-bp)
  );
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  font-size: calc(var(--step-0));
  vertical-align: baseline;
  color: #444;
  line-height: var(--space-s);
}

h1 {
  font-family: 'Crete Round', serif;
  font-size: calc(var(--step-5));
  line-height: var(--space-3xl);
}

h2 {
  font-size: calc(var(--step-4));
  line-height: var(--space-2xl);
}

h3 {
  font-size: calc(var(--step-3));
  line-height: var(--space-xl);
}

h4 {
  font-size: calc(var(--step-2));
  line-height: var(--space-l);
}

h5 {
  font-size: calc(var(--step-1));
  line-height: var(--space-m);
}

strong {
  font-weight: bolder;
}

a {
  text-decoration: none;
}

.button {
  background-color: transparent;
  border: none;
  border-radius: 0.35rem;
  padding: 1rem;
}

header,
main,
nav,
section,
footer,
article {
  display: flex;
  justify-content: center;
}

main {
  flex-flow: column wrap;
  width: 100%;
  align-items: center;
}

.section,
.wrapper {
  display: flex;
  max-width: 75rem;
  width: 100%;
  padding: 5vw;
}

.header__wrapper {
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  padding: 5vw;
}

.header__title {
  margin: 0;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 2vw;
}

.header__point {
  color: #ff7a00;
}

.header-navigation {
  flex-flow: column wrap;
  align-self: stretch;
}

.header-navigation__list,
.footer-navigation-list {
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
}

.header-navigation__item {
  display: flex;
  text-align: center;
}

.header-navigation__link {
  padding: 1rem;
  flex-grow: 1;
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.section-banner {
  background-image: url('../images/main.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 25rem;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5vw;
}

.banner__title {
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}

.button__banner,
.button__circuits__article {
  background-color: #ff7a00;
  padding: 1rem 2rem;
  color: #fff;
}

.button__banner:hover,
.button__circuits__article:hover {
  background-color: #02b8dd;
}

.section-plans {
  display: grid;
  grid-gap: 5rem;
}

.plans__article {
  display: grid;
  justify-items: center;
  grid-gap: 2rem;
  align-self: start;
}

.plans__icon {
  width: 80%;
  max-width: 10rem;
}

.plans__article_text {
  text-align: center;
}

.section-circuits {
  display: grid;
  grid-gap: 1.5rem;
  justify-content: stretch;
}

.circuits__article {
  display: grid;
  width: 100%;
  position: relative;
  justify-content: stretch;
}

.circuits__image {
  width: 100%;
}

.circuits__article__content {
  display: grid;
  grid-gap: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  justify-items: center;
  width: 100%;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  z-index: 10;
  padding: 0 1rem 1rem;
  text-align: center;
}

.section__contact {
  flex-flow: column wrap;
  align-items: center;
}

@media all and (min-width: 35rem) {
  .section,
  .wrapper {
    padding: 5vw 2vw;
  }

  .header__wrapper {
    padding: 2vw;
  }

  .header-navigation__list,
  .footer-navigation-list {
    flex-flow: row wrap;
    align-self: center;
  }

  .section-plans {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10vw 5vw;
  }

  .plans__article:first-child {
    grid-area: 1/3/1/1;
  }
  .plans__article:nth-child(2) {
    grid-area: 1/3/1/5;
  }

  .plans__article:last-child {
    grid-area: 2/4/2/2;
  }

  .circuits__article__content {
    display: grid;
    grid-gap: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    justify-items: center;
    width: 33%;
    align-items: center;
    background: rgba(255, 255, 255, 0.6);
    z-index: 10;
    padding: 0 1rem 1rem;
  }
}

@media all and (min-width: 52rem) {
  .header__wrapper {
    align-items: center;
  }

  .header-navigation__list,
  .footer-navigation-list {
    flex-flow: row wrap;
  }

  .header-navigation__item {
    display: flex;
  }

  .header-navigation__link {
    display: flex;
    align-items: center;
  }

  .section-plans {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .plans__article:first-child {
    grid-area: 1/1/1/2;
  }
  .plans__article:nth-child(2) {
    grid-area: 1/2/1/3;
  }

  .plans__article:last-child {
    grid-area: 1/3/1/4;
  }

  .section-circuits {
    grid-template-columns: 1fr 1fr;
  }

  .circuits__article__content {
    display: grid;
    grid-gap: 1rem;
    position: absolute;
    bottom: 0;
    top: 0%;
    justify-items: center;
    width: 65%;
    text-align: center;
  }

  .circuits__article__title {
    line-height: var(--space-m);
  }

  .circuits__article__text {
    font-size: 70%;
  }

  .button__circuits__article {
    padding: 0.5rem 1rem;
    font-size: 70%;
  }
}

@media all and (min-width: 65rem) {
  .header__wrapper {
    flex-flow: row wrap;
  }

  .header__title {
    margin-bottom: 0;
  }

  .header-navigation {
    flex-flow: row wrap;
  }

  .header-navigation__list,
  .footer-navigation-list {
    flex-flow: row wrap;
    align-self: stretch;
  }

  .header-navigation__link {
    padding: 0 0.5rem;
  }

  .banner__wrapper {
    min-height: 45rem;
  }

  .circuits__article__content {
    font-size: 100%;
  }

  .circuits__article__text {
    font-size: 100%;
  }

  .circuits__article__title {
    line-height: var(--space-l);
  }

  .button__circuits__article {
    padding: 1rem 2rem;
    font-size: 100%;
  }
}
